.category-item {
    padding: 0 var(--unnamed-pixel-24);
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 var(--unnamed-pixel-10);

    figure {
        margin: 0;
        margin-top: var(--unnamed-pixel-12);
        height: 200px;
        overflow: hidden;

        img {
            min-width: 160px;
        }
    }

    .category-label {
        position: absolute;
        bottom: 0;
        background: rgba(#000000, 0.6);
        color: var(--white);
        padding: var(--unnamed-pixel-12) var(--unnamed-pixel-16);
        border-bottom: var(--unnamed-pixel-4) solid var(--primary-m1);
        width: calc(100% - 20px);

        span {
            font-size: var(--unnamed-pixel-12);
        }
    }
}

.category-item-wrapper {
    background-color: var(--white);
}