.header-section {
    top: 0;
    position: sticky;
    z-index: 999;
    background-color: var(--primary-brand);
    font-size: var(--unnamed-font-size-16);

    .mobile {
        padding: var(--unnamed-pixel-12) var(--unnamed-pixel-20);

        .aem-Grid {
            display: flex;
            align-items: center;

            .aem-GridColumn {
                &:nth-child(1) {
                    text-align: left;
                }

                &:nth-child(2) {
                    text-align: center;
                }

                &.shopping-bag {
                    text-align: right;
                }
            }

            .menus {
                position: absolute;
                top: 50px;
                right: 0;
                background: var(--gray-l1);
                z-index: 9999;

                ul {
                    display: block;

                    li {
                        display: block;
                        padding: var(--unnamed-pixel-16) 0;

                        a {
                            text-decoration: none;
                            color: var(--black);
                        }                       
                    }
                }

                .close {
                    position: absolute;
                    top: var(--unnamed-pixel-16);
                    right: var(--unnamed-pixel-16);
                }
            }
        }
    }


    .desktop {
        width: 80%;
        margin: 0 auto;

        .aem-Grid {
            display: flex;
            align-items: center;

            .aem-GridColumn {
                &:nth-child(1) {
                    text-align: left;
                }

                &:nth-child(2) {
                    text-align: center;

                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                        height: var(--unnamed-pixel-60);

                        li {
                            display: block;
                            padding-right: var(--unnamed-pixel-16);

                            a {
                                text-decoration: none;
                                color: var(--white);
                                cursor: pointer;
                            }

                            a.underline {
                                padding-bottom: var(--unnamed-pixel-16);
                                border-bottom: var(--unnamed-pixel-4) solid var(--white);
                            }
                        }
                    }
                }

                &.shopping-bag {
                    display: flex;
                    justify-content: flex-end;

                    div {
                        display: flex;
                        align-items: center;
                        position: relative;

                        &:not(:last-child) {
                            padding-right: var(--unnamed-pixel-24);
                        }

                        svg {
                            padding-right: var(--unnamed-pixel-4);
                        }
                    }
                }
            }
        }

        .shopping-bag {
            .shopping-bag-count {
                right: var(--unnamed-pixel-20);
            }
        }
    }

    .logo {
        filter: invert(1);
    }


    .shopping-bag {
        position: relative;

        .shopping-bag-count {
            display: flex;
            align-items: center;
            position: absolute !important;
            color: var(--white);
            background: var(--black);
            border-radius: 50%;
            height: var(--unnamed-pixel-16);
            width: var(--unnamed-pixel-16);
            font-size: var(--unnamed-font-size-10);
            justify-content: center;
            right: -4px;
            top: -4px;
        }
    }
}