$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1201px;
$desktop-md-width: 1280px;
$desktop-lg-width: 1440px;
$desktop-xl-width: 1920px;


@mixin tablet {
    @media (min-width: #{$tablet-width +1 }) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}



@mixin toRem($property, $value) {
    #{$property}: ($value / 16) + rem;
    @debug "desktop-width: #{$property}";

}