@import url('https://fonts.cdnfonts.com/css/muli');
@import 'root';
@import 'aem-grid-12';
@import 'mixins';


body {
    font-family: var(--unnamed-font-family-muli);
    margin: 0;

    .container {
        @include desktop {
            width: 80%;
            margin: var(--unnamed-pixel-16) auto;
        }
    }    

    .component-container {
        padding: var(--unnamed-pixel-16);
    }

    .padding-0 {
        padding: 0;
    }

    .margin-0 {
        margin: 0;
    }
}