.product-header-section {
    border-bottom: var(--unnamed-border-solid);
    padding-bottom: var(--unnamed-pixel-12);


    div {
        margin-bottom: var(--unnamed-pixel-8);
    }

    .rating-section {
        display: flex;
        align-items: center;

        svg {
            margin-right: var(--unnamed-pixel-2);
        }
    }
}